<section class="product spad">
    <div class="container">
        <div class="row">
            {% include "Components/Shop_Menu/leftsideshop.html.twig" %}
            {% include "Components/Shop_Menu/rightsideshop.html.twig" %}
        </div>
    </div>
</section>